<ea-header-banner></ea-header-banner>
<ea-info
  [background]="'container-red'"
  [infoDescription]="
    'La nuova evoluzione della battle royale arriva su mobile.'
  "
  [buttonStyle]="{ title: 'Altre informazioni', class: 'button-transparent' }"
></ea-info>
<ea-games></ea-games>
<ea-news></ea-news>
<ea-footer-banner></ea-footer-banner>
<ea-info
  [background]="'container-blue'"
  [infoDescription]="
    'Genitori: il controllo dei videogiochi è nelle vostre mani.'
  "
  [buttonStyle]="{ title: 'Scopri di più', class: 'button-black' }"
></ea-info>
<ea-social-container></ea-social-container>
