<div class="container-footer-info">
  <!-- <div class="d-flex flex-column postScriptum">
    <p>
      *L'OFFERTA POTREBBE VARIARE. CONSULTA IL SITO DEL RIVENDITORE PER I
      DETTAGLI.
    </p>
    <p>
      **SI APPLICANO CONDIZIONI, LIMITAZIONI ED ESCLUSIONI. VISITA
      <a
        style="color: red"
        href=" https://tos.ea.com/legalapp/eaplay/IT/it/PC/ "
        >https://tos.ea.com/legalapp/eaplay/IT/it/PC/</a
      >
      PER I DETTAGLI.
    </p>
  </div> -->
  <!-- <hr class="separators" /> -->
  <div class="d-flex container-footer-info-2 p-5 justify-content-around">
    <ul class="d-flex flex-row gap-4 list-info flex-wrap">
      <li><a href="">Rapporto sull'impatto</a></li>
      <li><a href="">Dirigenza</a></li>
      <li><a href="">Sicurezza e privacy</a></li>
      <li><a href="">Attività politiche </a></li>
      <li><a href="">Segnala un problema</a></li>
      <li>
        <a href="">Dichiarazione globale sul rispetto dei diritti umani</a>
      </li>
    </ul>
    <hr class="separators" *ngIf="innerWidth < 768; px" />
    <div class="container-social">
      <p><b>Partecipa alla conversazione</b></p>
      <div class="d-flex gap-3">
        <a href="#">
          <img src="../../../assets/icons8-f-di-facebook.svg" alt="" />
        </a>
        <a href="#"><img src="../../../assets/icons8-twitter.svg" alt="" /></a>
        <a href="#">
          <img src="../../../assets/icons8-riproduci-youtube.svg" alt="" />
        </a>
        <a href="#"
          ><img src="../../../assets/icons8-instagram.svg" alt=""
        /></a>
        <a href="#"><img src="../../../assets/icons8-twitch.svg" alt="" /></a>
      </div>
    </div>
  </div>
</div>
