<nav class="d-flex align-items-center gap-4">
  <a class="button-sidebar" role="button">
    <img
      class="sidebar-btn"
      src="../../../assets/ea-button-sidebar.svg"
      alt="sidebar button"
    />
  </a>
  <a class="navbar-brand" href="#">
    <img src="../../../assets/ea-logo-nav-coral.svg" />
  </a>
  <div class="menu-navbar d-flex align-items-center">
    <div class="games-dropdown">
      <div class="dropbtn">Giochi</div>
      <div class="games-dropdown-content drop dropdown-custom">
        <div class="games-row">
          <div class="games-column">
            <p>ESPLORA I GIOCHI</p>
            <a href="#">Ultimi giochi</a>
            <a href="#">Prossimamente</a>
            <a href="#">EA SPORTS</a>
            <a href="#">Giochi gratuiti</a>
            <a href="#">Libreria dei giochi</a>
          </div>
          <div class="games-column">
            <p>PIATTAFORME</p>
            <a href="#">PC</a>
            <a href="#">PlayStation®5</a>
            <a href="#">Xbox Series X</a>
            <a href="#">Nintendo Switch™</a>
            <a href="#">Cellulari</a>
          </div>
        </div>
      </div>
    </div>
    <div class="experience-dropdown">
      <div class="dropbtn">Altre esperienze</div>
      <div class="experience-dropdown-content dropdown-custom">
        <a href="#">EA Play</a>
        <a href="#">Origin</a>
        <a href="#">Competizioni videoludiche</a>
        <a href="#">Diretta di EA Play</a>
      </div>
    </div>
    <div class="info-dropdown">
      <div class="dropbtn">Informazioni</div>
      <div class="info-dropdown-content dropdown-custom">
        <a href="#">Società</a>
        <a href="#">EA Studi</a>
        <a href="#">La nostra tecnologia</a>
        <a href="#">EA Partners</a>
        <a href="#">Notizie</a>
        <a href="#">Inside EA</a>
      </div>
    </div>
    <div class="commit-dropdown">
      <div class="dropbtn">Impegni</div>
      <div class="commit-dropdown-content dropdown-custom">
        <a href="#">Gioco positivo</a>
        <a href="#">Diversità e inclusione</a>
        <a href="#">Sensibilizzazione della comunità</a>
        <a href="#">Persone e cultura</a>
        <a href="#">Ambiente</a>
      </div>
    </div>
    <div class="resources-dropdown">
      <div class="dropbtn">Risorse</div>
      <div class="resources-dropdown-content dropdown-custom">
        <a href="#">Aiuto</a>
        <a href="#">Forum</a>
        <a href="#">Lavora con noi</a>
        <a href="#">Filtro famiglia</a>
        <a href="#">Accessibilità</a>
        <a href="#">Stampa</a>
        <a href="#">Investitori</a>
        <a href="#">Test di gioco</a>
      </div>
    </div>
  </div>
</nav>
